{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<H1>
<div class="row center-xs" style="text-align: center;">
    Vítejte na mých webových stránkách sloužících k úpravě fotek
</div>
<div class="row center-xs" style="text-align: center;">
    <p> Na těchto stránkách si můžete zdarma upravit vaše fotografie a obrázky.</p>
    <p> Obrázky, které si budete chtít upravit se nikam neukládají ani nearchivují, nemusíte proto mít strach ze stráty soukromí. </p>
    <p> Po odeslání požadavku na úpravu vybraného obrázku se vám zobrazí vámi vybrané úpravy, které si rovnou můžete stáhnout. </p>
    <p> Pro další úpravy musíte znova vybrat obrázek, který chcete upravovat.</p>
</div> 
<div class="row center-xs" style="text-align: center;">
    <ul>
        V možnostech úprav zatím najdete:
        <li>změna velikosti</li> 
        <li>převod na černobílý</li>
        <li>odstíny šedi</li>
        <li>rotace</li>
    </ul>
</div>
</H1>

{% endblock %}


